footer{
    height: 80px;
    background-color: #312f30;
    color: white;
}
footer > span:first-child{
    float: left;
    padding-top: 2em;
    padding-left: 100px;
}
footer > span:last-child{
    padding-top: 2em;
    float: right;
    margin-left: auto;
}
footer > span > a{
    color: white;
}